.left-bar, .left-abt-txt, .right-social-guide {
    display: flex;
    align-items: center;
}

.left-bar {
    width: 50%;
    height: 100%;
    background-color: rgb(40, 40, 40);
    color: var(--txtColor);
    padding: 40px;
    position: fixed;
    bottom: -140vh;
    left: 0;
    transition: .7s;
}

.left-bar.active {
    bottom: 0;
}

.left-abt-txt {
    width: 100%;
    height: 100%;
}

.left-abt-txt p {
    font-size: 30px;
}

.left-abt-txt p span {
    border-right: 2px solid var(--accentColor);
    font-size: 20px;
    margin-left: 10px;
    animation-name: type;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes type {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    } 
}

.right-bar {
    width: 50%;
    height: 100%;
    background-color: var(--intermediateColor);
    color: var(--txtColor);
    padding: 40px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -140vh;
    right: 0;
    transition: .7s;
}

.right-bar.active {
    top: 0;
}

.close-bar {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 2px solid var(--accentColor);
    border-radius: 8px;
    color: var(--txtColor);
    margin-left: auto;
}

.right-bar-cont {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.right-bar-list {
    text-decoration: none;
    color: var(--txtColor);
}

.right-bar-list.active {
    color: var(--accentColor);
}

.right-bar-list span {
    font-size: 50px;
    font-weight: 700;
    font-family: var(--txtBlackOps);
    letter-spacing: 2px;
}

.right-social-guide {
    width: 100%;
    column-gap: 20px;
    justify-content: center;
    margin-top: auto;
}

.right-social-guide .social {
    border: 2px solid rgba(255, 255, 255, 0.47);
    background: radial-gradient(276.56% 104.32% at 1.34% 8.25%, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.07) 100%);
}

@media (max-width: 768px) {
    .left-bar, .right-bar {
        padding: 30px;
    }
}

@media (max-width: 625px) {
    .left-abt-txt p {
        font-size: 25px;
    }

    .left-abt-txt p span {
        font-size: 18px;
    }

    .right-bar-cont {
        row-gap: 25px;
    }

    .right-bar-list span {
        font-size: 40px;
    }

    .close-bar {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
}

@media (max-width: 575px) {
    .left-bar, .right-bar {
        padding: 15px;
    }

    .left-abt-txt p {
        font-size: 20px;
    }

    .left-abt-txt p span {
        font-size: 16px;
    }

    .right-bar-cont {
        row-gap: 20px;
        margin-top: auto;
    }

    .right-bar-list span {
        font-size: 35px;
    }

    .right-social-guide {
        column-gap: 10px;
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        row-gap: 10px;
    }
}

@media (max-width: 428px) {
    .left-abt-txt p {
        font-size: 13px;
    }

    .left-abt-txt p span {
        font-size: 14px;
    }

    .right-bar-list span {
        font-size: 30px;
    }
}