@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--intermediateColor);
  font-family: 'Prompt', sans-serif;
}

:root {
  --intermediateColor: #000000;
  --secondaryColor: rgba(50, 50, 50, 0.734);
  --accentColor: orange;
  --txtColor: #ffffff;
  --txtBlackOps: 'Black Ops One', system-ui;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
